<div class="w3-sand" style="width: 100%; height: 100vh">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white w3-wide">
        <% if (nav.local === 'home') { %>
        <a class="w3-button w3-round-xlarge w3-padding-large w3-animate-bottom" href="/register">
          <span class="w3-padding w3-black w3-opacity-min"><b>Re</b></span>
          <span class="w3-hide-small w3-text-dark-grey">gister now</span>
        </a>
        <% } %>
        <% if (nav.local === 'loginok') { %>
          <span class="w3-padding w3-black w3-opacity-min"><b>H</b></span>
          <span class="w3-hide-small w3-text-dark-grey">llo <%= nav.username %></span>
        <% } %>
    </h1>
  </div>
</div>

<!-- <% if (nav.local === 'home') { %>
  
<% } %> -->
